.recaptcha {
    padding-left: 1.9em;
    padding-top: 1em;
    padding-bottom: 1em;
}


@media only screen and (max-width: 600px) {
    .recaptcha {
        padding-left: 1.2em;
        padding-top: 0em;
        padding-bottom: 1em;
    }    
}

@media only screen and (max-width: 400px) {
    .recaptcha {
        padding-left: 0em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }    
}