.text-center {
  text-align: center;
}

body {
  //line-height: 0 !important;
  font-family: "RobotoCondensed-Light";
  //font-weight: 100;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: local("RobotoCondensed-Light"),
    url(./../public/fonts/roboto-condensed/RobotoCondensed-Light.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: local("RobotoCondensed-Bold"),
    url(./../public/fonts/roboto-condensed/RobotoCondensed-Bold.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: local("RobotoCondensed-Regular"),
    url(./../public/fonts/roboto-condensed/RobotoCondensed-Regular.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
